* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mypage-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.mypage-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}

.tabmenu-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

aside {
  border: 1px solid black;
  flex: 2;
}

.content {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 100%;
}
