* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mypage-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.mypage-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}

.tabmenu-content {

  display: flex;
  justify-content: center;
  width: 100%;
}

aside {
  border-right: 1px solid #e0e0e0;
  flex: 1;
  height: 100vh;
}

.content {
  flex: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
